<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="7.5.2" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="ReactiveUI" version="17.1.50" targetFramework="net472" />
  <package id="Splat" version="14.1.45" targetFramework="net472" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net472" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2337" targetFramework="net472" />
  <package id="Xamarin.Forms.PancakeView" version="2.3.0.759" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.8.0.1451" targetFramework="net472" />
</packages>